@using TravelTripProje.Models.Sınıflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BASLIK</th>
        <th>İŞLEMLER</th>
    </tr>
    
       @foreach(var i in Model)

            {
                <tr>
                    <td>@i.ID</td>
                    <td>@i.Baslik</td>
                    <td>
                    <a href="@i.ID" class="btn btn-danger">Sil </a>
                    <a href="@i.ID" class="btn btn-warning">Güncelle </a>
                    <a href="@i.ID" class="btn btn-success">Detay </a>
                    
                    </td>
                </tr>
            }  
</table>

<a href="/Admin/BlogEkle/" class="btn btn-primary">Yeni Blog Ekle Paşam</a>

